:root {
  --main-bg: #fffaf0;
  --main-text: #333333;
  --accent: #e56b6f;
  --nav-bg: #a11117;
  --nav-text: #fff;
  --highlight: #de5fa6;
  --footer-bg: #f4aacb;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-text);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--nav-bg);
  color: var(--nav-text);
  padding: 1.5em 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: var(--nav-text);
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 3em 1em;
  text-align: center;
}

h2.highlight {
  color: var(--highlight);
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

footer {
  background-color: var(--footer-bg);
  color: var(--main-text);
  text-align: center;
  padding: 1em;
  font-style: italic;
}
